<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pisteur de temps, une application qui permet de suivre son temps passé</title>
  </head>
  <body>
    <div id='root'></div>
  </body>
</html>
