html, body{
    // font-family: Liberation Sans, Helvetica, Arial, sans-serif;
}

.docs-main{
    padding-left: 320px;


    .docs-main--inner{
        padding: 32px;
    }

    h3#preview,
    h3#code{
        margin-top: 48px;
    }

    blockquote{
	background: var(--light);
	padding: 1rem;

	p{
	    color: var(--dark);
	    opacity: 0.75;
	    font-style: italic;
	    margin: 0;
	}
    }
}
