ul.track-history{
    li.track-history--item{
	// @include transition(all, 0.2s, ease-in-out);
	cursor: pointer;
	
	.item-actions{
	    right: 0;
	    z-index: 999;
	}
	.row{
	    // height: 100%;
	    

	    .item-value{
		display: flex;
		margin-left: -1.25rem;
		
		.item-value--inner{
		    width: 6rem;
		    margin: auto;
		    color: var(--blue);
		    font-size: 1.5rem;
		    border-left: 3px solid var(--blue);
		    padding-left: 1rem;
		    height: 2.5rem;


		}
	    }

	}

	&:hover{
	    background-color: var(--light);
	}
    } 
}
