doctype html
html
	head
		title Time Tracker
	body
		#root
		block scripts
		script(src='/dist/bundle.js')
		script(src='http://localhost:3000/scripts/jquery/jquery.min.js')
		script(src='http://localhost:3000/scripts/popper/umd/popper.js')
		script(src='http://localhost:3000/scripts/bootstrap/bootstrap.js')