@import "assets/styles/colors";

.track{
    .track-edit{
	color: var(--dark);
	text-decoration: none;

	&:hover{
	    text-decoration: none;
	}

    }
    .track-delete{
	color: var(--dark);
	text-decoration: none;

	&:hover{
	    text-decoration: none;
	}

    }
}
