doctype html
html
	head
		title Time Tracker
	body
		#root
		block scripts
		script(src='dist/bundle.js')
		script(src='scripts/jquery/jquery.min.js')
		script(src='scripts/popper/umd/popper.js')
		script(src='scripts/bootstrap/bootstrap.js')