@import "assets/styles/colors";

.personal{
    
}
.manager{
    .nav-tabs{
	.nav-item{
	    color: $main-font;
	}
    }
    #nav-tabContent{
	background: $box-background;
	
	.pane-header{
	    .actions{
		padding: 1rem;
	    }
	    .column-name{
		font-weight: 700;
		border-bottom: 1px solid $list-border;
		padding: 1rem;
	    }
	}
	.pane-content{
	    ul{
		margin: 0;
		padding: 0;
		
		li{
		    list-style-type: none;
		    border-bottom: 1px solid $list-border;
		    padding: 1rem 1rem 0 1rem;

		    .row{
			margin-bottom: 1rem;
		    }

		    &.new,
		    &.edited{
			background: $box-edit;
		    }
		}
	    }
	}
    }
}
