@import "assets/styles/colors";
@import "assets/styles/_mixins";

// Transitions
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  @include transition(opacity, 250ms, ease-in);
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  @include transition(opacity, 125ms, ease-in);
}
