$app-background: #f5f5f5;
$box-background: #ffffff;
$box-edit: #f8f9fa;
$box-edit-dark: #ebebed;

$track-input-background: #3726bc;

$main-font: #171330;
$main-font-light: #797594;

$border: #dee2e6;
$border-dark: #cee6ff;

$track-input--input: #291c8c;
$track-input--input-focus: white;

$surround-color: #ffc107;
$accent-color: #3726bc;
