$app-background: #e6f9fc;
$box-background: #ffffff;
$box-edit: #f8f9fa;
$box-edit-dark: #ebebed;

$track-input-background: #3726bc;

$main-font: #171330;
$main-font-light: #797594;

$border: #efeff0;
$border-dark: #cee6ff;

$track-input--input: #291c8c;
$track-input--input-focus: white;
$track-input--placeholder: #7a6fcf;

$surround-color: #ffc107;
$surround-color--hover: #e8ba00;
$accent-color: #3726bc;
