$app-background: #e6f9fc;
$box-background: #ffffff;
$box-edit: #f8f9fa;
$box-edit-dark: #ebebed;

$track-input-background: #3726bc;

$main-font: #171330;
$main-font-light: #797594;
$main-font-inverted: #ffffff; // négatif
$main-font-inverted-light: #07c3eb;

$border: #efeff0;
$border-dark: #cee6ff;

$track-input--input: #291c8c;
$track-input--input-focus: white;
$track-input--placeholder: #7a6fcf;

$surround-color: #ffc107; // le jaune, par touches
$surround-color--hover: #e8ba00;
$accent-color: #3726bc; // le bleu;
$accent-color-light: #4e3dcf; 
$accent-color-dark: #291aa4; 

$alert: #ff2323;
$alert-light: #ff5d5d;
$alert-lighter: #f98b8b;
$alert-dark: #a60000;

$overflow-color: #6e1e94; // le bleu;
$overflow-color-light: #7e28a2; 
$overflow-color-dark: #611581;

$main-font-inverted-light--overflow: #bc98ce;
